.node-list-container {
  padding: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

table {
  width: 100%;
}
