.dashboard-container {
  padding: 2rem;
}

.dashboard-card {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-value {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.primary {
  background-color: #3f51b5;
  color: white;
}

.accent {
  background-color: #ff4081;
  color: white;
}

.warn {
  background-color: #f44336;
  color: white;
}
